# 虚拟环境
.venv311/
venv/
env/

# 缓存、日志
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# 系统/IDE文件
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# UPX、MinGW缓存
%LOCALAPPDATA%/Nuitka/

# 构建产物
build/nuitka-out/
build/nuitka-out2/
build/tencent_docs/
dist/
releases/

# 运行时数据（不提交）
data/session.json
data/session.json.bak
data/instance.lock

# 浏览器内核（不提交到 git，太大）
ms-playwright/

# 运行时文件
app.log
